In [1]:
import numpy as np
import pandas as pd
import matrix_factorization_utilities as mfu

In [2]:
# Load user ratings
df = pd.read_csv('movie_ratings_data_set.csv')

In [3]:
# Load movie titles
movies_df = pd.read_csv('movies.csv', index_col='movie_id')

In [5]:
# Convert the running list of user ratings into a matrix
df.pivot_table(index="user_id", columns="movie_id", aggfunc=np.max)

   user_id  movie_id  value
0        1        28      4
1        1        26      4
2        1         9      4
3        1         1      4
4        1        14      4