![title](Chapter-2.png "Header")
___
# Chapter 2 -  Machine Learning Based Recommendation Systems
## Segment 2 - Model-based Collaborative Filtering Systems
## SVD Matrix Factorization

In [26]:
import numpy as np
import pandas as pd

import sklearn
from sklearn.decomposition import TruncatedSVD

The MovieLens dataset was collected by the GroupLens Research Project at the University of Minnesota. You can download the dataset for this demostration at the following URL: https://grouplens.org/datasets/movielens/100k/

### Preparing the data

In [27]:
columns = ['user_id', 'item_id', 'rating', 'timestamp']
frame = pd.read_csv('ml-100k/u.data', sep='\t', names=columns)
frame.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [28]:
columns = ['item_id', 'movie title', 'release date', 'video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
          'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror',
          'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

movies = pd.read_csv('ml-100k/u.item', sep='|', names=columns, encoding='latin-1')
movie_names = movies[['item_id', 'movie title']]
movie_names.head()

   item_id        movie title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [29]:
combined_movies_data = pd.merge(frame, movie_names, on='item_id')
combined_movies_data.head()

   user_id  item_id  rating  timestamp   movie title
0      196      242       3  881250949  Kolya (1996)
1       63      242       3  875747190  Kolya (1996)
2      226      242       5  883888671  Kolya (1996)
3      154      242       3  879138235  Kolya (1996)
4      306      242       5  876503793  Kolya (1996)

In [30]:
combined_movies_data.groupby('item_id')['rating'].count().sort_values(ascending=False).head()

item_id
50     583
258    509
100    508
181    507
294    485
Name: rating, dtype: int64

In [31]:
filter = combined_movies_data['item_id']==50
combined_movies_data[filter]['movie title'].unique()

array(['Star Wars (1977)'], dtype=object)

### Building a Utility Matrix

In [32]:
rating_crosstab = combined_movies_data.pivot_table(values='rating', index='user_id', columns='movie title', fill_value=0)
rating_crosstab.head()

movie title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,2,5,0,0,3,4,0,0,...,0,0,0,5,3,0,0,0,4,0
2,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,2,0,0,0,0,4,0,0,...,0,0,0,4,0,0,0,0,4,0

### Transposing the Matrix

In [33]:
rating_crosstab.shape

(943, 1664)

In [34]:
X = rating_crosstab.T
X.shape

(1664, 943)

### Decomposing the Matrix

In [35]:
SVD = TruncatedSVD(n_components=12, random_state=17)

resultant_matrix = SVD.fit_transform(X)

resultant_matrix.shape

(1664, 12)

In [40]:
from pandas import Series, DataFrame
DataFrame(resultant_matrix)

,0,1,2,3,4,5,6,7,8,9,10,11
0,1.039994,0.659884,0.045689,0.814447,0.167474,-0.983164,-0.319829,0.306784,-0.030842,-0.753561,-0.301530,-0.536511
1,0.436584,-0.257261,0.352955,-0.668667,-0.293370,-0.006088,-0.231560,-0.568051,0.336801,-0.247432,0.352607,-0.083584
2,12.543744,5.669234,-4.907812,5.022113,7.881279,-0.813447,-0.121968,-4.842374,2.150923,3.802348,0.602189,-0.831987
3,25.663725,-12.267626,6.077408,3.115259,0.713566,1.886036,-3.659231,-0.388550,1.370892,-5.671582,1.250848,-1.607138
4,3.636418,4.217210,2.633261,1.655672,-3.200588,-1.942051,-0.653495,-0.830418,2.308042,-0.201487,-0.742995,-1.589686
5,13.239159,8.403065,1.542896,-7.235866,1.066606,-3.661391,-5.005779,-2.140963,-1.827323,-2.301714,-2.398330,-2.794711
6,15.009596,-6.028979,-4.609465,5.190691,-1.384635,1.347183,-1.769085,-6.536553,0.004986,3.732616,0.686199,-2.443007
7,47.942963,-17.765585,5.037396,-1.677213,-3.119208,9.414925,1.169901,0.451649,3.797822,5.022636,-5.265951,1.042847
8,0.191216,0.010013,0.238734,0.100751,-0.128566,-0.150668,-0.049059,-0.161192,-0.146883,-0.092101,0.095335,-0.073190
9,11.607555,-9.467347,5.015958,2.713852,-0.100173,3.481127,-2.386874,-8.175943,-0.005870,-2.029841,0.690934,-0.746915
10,6.870439,-6.105517,5.220248,-1.077040,-0.210623,-0.519955,-0.782403,-5.137975,0.499692,-0.113288,-1.470667,-0.317089
11,0.590444,0.439745,0.197809,-0.095591,-0.618348,-0.334002,-0.238931,0.110347,0.232682,-0.847122,0.097808,-0.035856
12,0.736632,0.150795,-0.426259,0.130577,-0.295294,-0.211090,-0.642266,0.275854,0.158768,0.296139,-0.100219,-0.105957
13,0.711795,0.860186,2.027852,-0.079411,0.322422,-0.479592,0.690919,-0.275252,-1.268129,0.193923,0.947087,-0.814505
14,1.024653,0.602195,-1.100601,0.362546,-0.176306,-0.617595,-0.387141,0.112381,-0.172028,-0.889703,-0.347119,-0.041295
15,17.566244,12.320010,-1.945003,-1.692021,4.080088,0.567753,-9.940064,-5.664641,-2.907434,-1.155782,-3.897400,3.341339
16,26.505780,0.717045,-8.908711,-2.978161,-4.440896,-1.179081,-0.249571,-0.600438,2.355918,12.420694,-0.628978,1.340829
17,16.723559,2.237172,-12.260948,-1.397262,-2.551562,-8.932117,1.037013,-2.446577,1.748403,-3.867454,5.357639,3.204738
18,5.242980,1.848392,-4.094148,-1.223369,-1.236799,-3.853373,1.276693,-2.295161,0.762850,-2.537310,1.770861,0.051465
19,0.687987,-0.113001,-0.019594,0.390358,-0.175244,-0.033158,-0.022101,-0.735864,-0.259329,-0.363534,0.174036,-0.583379
20,13.785141,-1.031297,-8.006313,0.498359,-2.570279,-6.251690,4.261683,-6.023232,0.460280,-0.465451,2.787610,0.237524
21,6.182557,5.204920,1.750431,0.124737,3.817118,-2.773352,-0.692559,0.040958,-0.044658,-1.173332,-2.197875,0.351521
22,1.278549,0.036718,0.102086,-1.145578,-0.812754,-0.289697,-0.407273,-0.302611,-0.042684,1.026276,-0.674767,-0.132952
23,4.587116,1.434742,-1.532386,1.496748,2.934298,1.176534,1.638389,-2.294720,1.595974,0.874541,0.153657,-1.522048
24,18.595402,-5.859139,6.310556,-2.871539,1.284185,-10.611523,6.061085,-1.954644,-2.339539,4.661947,-2.476228,3.466219
25,14.336646,-7.201751,1.566943,5.730209,0.739786,1.150662,-3.138702,-8.786865,-1.087288,-3.189367,-0.675469,-2.393844
26,6.845082,-1.003136,-0.319670,4.219206,3.430427,-4.836303,-1.186776,1.118620,-0.108227,0.288277,-2.216319,-2.044691
27,31.238316,-18.132467,9.268356,7.701122,4.964361,7.218417,-2.465482,-5.674372,0.082374,0.534915,-1.665004,-1.746621
28,1.594763,0.762882,2.928497,1.430583,-1.719202,-2.317160,-0.290037,-0.187217,-1.678750,0.143144,-0.579615,-1.023438
29,12.434640,-4.044245,3.827229,1.465072,2.088321,-9.545287,-0.902883,-1.121863,-4.484406,4.893503,-1.346670,-1.029680
...,...,...,...,...,...,...,...,...,...,...,...,...
1634,0.236154,0.029052,-0.173829,-0.317720,-0.096038,-0.293402,0.420934,-0.772178,-0.327088,-0.541203,-0.081755,0.316613
1635,0.353226,-0.266933,0.067763,-0.173473,0.018781,-0.149006,-0.304911,-0.424297,0.091680,-0.038384,-0.015233,0.022642
1636,10.563970,-6.342203,9.878992,-3.820117,0.303112,-3.975058,3.812147,-2.799382,-2.315483,-0.196711,-7.078026,-2.042249
1637,6.914529,3.494892,10.453787,4.850625,-4.633550,-5.324183,3.252073,-0.321344,-5.852488,-1.624511,1.847804,-1.684960
1638,14.193834,-2.676130,-4.307371,4.961715,3.220863,-0.386458,4.296722,-1.835766,6.661620,1.355833,0.181799,-3.325020
1639,0.851644,0.215305,0.865989,0.342969,-0.951824,-0.347621,0.191560,-0.125670,-0.451251,0.065914,-0.135972,-0.180618
1640,1.401596,2.341919,0.860314,2.123864,-2.096876,-0.596724,-0.004462,-0.646831,1.535346,0.318051,-0.340242,-0.158623
1641,7.637709,1.421520,-5.500004,1.845132,0.022724,-6.427174,-0.375426,2.375099,0.970496,-2.468609,-0.037586,-0.607322
1642,2.171554,-0.988380,2.016345,-0.949708,-0.025787,-0.857274,0.212256,-0.846757,-0.781081,0.495866,-0.935597,-0.745797
1643,0.281520,-0.237685,0.146701,-0.232389,-0.149372,0.066943,-0.155327,-0.039791,0.138248,0.146076,-0.013331,0.184470
1644,48.310338,-14.494834,-1.133594,9.246894,4.844413,3.384344,-0.197728,1.870717,9.672073,2.466674,-3.071582,-7.008907
1645,10.050879,1.250103,-4.020678,-2.631386,-4.570334,-4.304029,-1.336938,-3.171570,0.450985,5.033551,0.666875,-0.765716
1646,0.061366,-0.053310,-0.053689,0.036451,-0.052755,-0.102741,-0.019746,0.024010,0.053418,-0.000344,0.090684,-0.040906
1647,3.039108,-1.789150,1.817574,1.175144,0.189029,-1.053361,-1.260618,-1.397036,-0.048032,0.388220,-1.511710,-0.811625
1648,1.761342,-1.714704,1.177242,-0.383954,-0.030355,0.775510,-0.304030,-0.378484,0.254768,0.179644,0.513645,-0.072155
1649,0.638649,0.871256,0.994182,1.092922,-1.555808,-0.308002,0.058245,-0.515380,-0.121855,-0.301129,0.392941,0.136127
1650,0.137584,0.345374,0.392726,-0.182168,0.286025,-0.195282,0.153889,-0.277819,-0.309433,0.171616,0.038178,-0.286529
1651,1.076252,-1.247211,1.064950,-0.377628,-0.139570,0.055017,0.208900,-0.994208,-0.786129,0.240729,-1.262279,0.380893
1652,23.782554,-5.022524,2.450268,-7.506026,0.038476,0.409905,15.948741,-2.165776,0.106071,-2.118253,-7.245577,2.351483
1653,9.118203,-1.775375,-3.556058,3.552470,-2.214872,-1.969670,-3.691756,-1.941403,-5.092789,0.503048,1.274796,-2.652776
1654,0.061366,-0.053310,-0.053689,0.036451,-0.052755,-0.102741,-0.019746,0.024010,0.053418,-0.000344,0.090684,-0.040906
1655,0.830680,-0.003290,0.581189,0.453722,-0.452191,-0.595988,0.684320,-0.776594,0.125214,-0.231864,-0.219799,0.383299
1656,0.212251,-0.024659,-0.098635,-0.017943,-0.070978,0.017684,-0.086610,0.045622,-0.177379,0.014983,-0.106097,-0.070964
1657,39.158324,-14.261015,-3.201544,1.477107,0.726980,-0.867613,8.143559,-10.297663,3.207297,-3.881077,6.679407,10.063924
1658,18.300762,1.473117,-11.486846,-2.159405,-6.699809,-5.465484,-1.938808,0.306388,-4.134609,0.357725,2.425461,0.648887
1659,6.566454,1.511619,-5.562135,-1.527270,-3.108443,-2.727203,-0.570367,-0.013336,-0.908420,-1.299180,1.675508,0.023247
1660,4.787711,2.142394,3.589156,-4.735521,-1.221815,-2.299082,0.186473,-3.071235,1.485942,1.943203,1.563532,-2.686728
1661,0.358930,0.371257,0.022975,0.246475,0.650142,-0.005382,-0.020649,-0.509945,0.023485,-0.088747,0.183072,-0.029703
1662,1.424280,0.814940,-0.490237,-0.654023,-1.028680,-0.322582,0.728424,-0.764920,0.409385,0.156784,0.569624,-0.637080
1663,0.229210,-0.006225,0.273162,-0.106108,-0.087263,-0.402646,-0.222089,-0.009088,-0.237067,0.083268,-0.081479,-0.156028

### Generating a Correlation Matrix

In [41]:
corr_mat = np.corrcoef(resultant_matrix)
corr_mat.shape

(1664, 1664)

### Isolating Star Wars From the Correlation Matrix

In [42]:
movie_names = rating_crosstab.columns
movies_list = list(movie_names)

star_wars = movies_list.index('Star Wars (1977)')
star_wars

1398

In [16]:
corr_star_wars = corr_mat[1398]
corr_star_wars.shape

(1664,)

### Recommending a Highly Correlated Movie

In [17]:
list(movie_names[(corr_star_wars<1.0) & (corr_star_wars > 0.9)])

['Die Hard (1988)',
 'Empire Strikes Back, The (1980)',
 'Fugitive, The (1993)',
 'Raiders of the Lost Ark (1981)',
 'Return of the Jedi (1983)',
 'Star Wars (1977)',
 'Terminator 2: Judgment Day (1991)',
 'Terminator, The (1984)',
 'Toy Story (1995)']

In [18]:
list(movie_names[(corr_star_wars<1.0) & (corr_star_wars > 0.95)])

['Return of the Jedi (1983)', 'Star Wars (1977)']