In [121]:
import pandas as pd
import numpy as np
import pickle

In [122]:
curr_user_id=6

In [123]:
fileSize="ml-100k"
U = np.load(open("u_"+fileSize+".dat", "rb"), allow_pickle=True)
M = np.load(open("m_"+fileSize+".dat", "rb"), allow_pickle=True)

In [124]:
predicted_ratings=np.matmul(U,M)

In [125]:
user_info_headers="user id|age|gender|occupation|zip code".split("|")
user_info=pd.read_csv("ml-100k/u.user", delimiter="|", names=user_info_headers)
# user_info["user id"].size #943

In [126]:
rating_headers="user id|item id|rating|timestamp".split("|")
rating_df=pd.read_csv("ml-100k/u.data", delimiter="\t", names=rating_headers)
rating_df.head()
# rating_df["item id"].unique().size #1682
# rating_df["user id"].unique().size #943

   user id  item id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [127]:
item_headers="movie id| movie title | release date | video release date | IMDb URL | unknown | Action | Adventure | Animation |              Children's | Comedy | Crime | Documentary | Drama | Fantasy |              Film-Noir | Horror | Musical | Mystery | Romance | Sci-Fi |              Thriller | War | Western ".split("|")
items=pd.read_csv("ml-100k/u.item", encoding="iso-8859-1", delimiter="|", names=item_headers)
# items["movie id"].size #1682

In [128]:
user_info[user_info["user id"]==curr_user_id]

   user id  age gender occupation zip code
5        6   42      M  executive    98101

In [129]:
#Already reviewed by the user
alredy_reviewed=rating_df[rating_df["user id"]==curr_user_id]
already_reviewed_movieTitles=items[items["movie id"].isin(alredy_reviewed["item id"])]
# already_reviewed_movieTitles.sort_values(by="curr_user_ratings", ascending=False)

In [130]:
predicted_user_ratings=predicted_ratings[curr_user_id-1]
predicted_user_ratings

array([ 3.37143907,  2.24142085,  2.52292844, ...,  0.51668034,
        2.18049845,  2.45004786])

In [131]:
items["curr_user_ratings"]=predicted_user_ratings

In [132]:
ascending_values_ratings_for_curr_user=items.sort_values(by=["curr_user_ratings"], ascending=False)

In [133]:
# ascending_values_ratings_for_curr_user[ascending_values_ratings_for_curr_user["user id"]==curr_user_id]
recommendations=ascending_values_ratings_for_curr_user[ascending_values_ratings_for_curr_user["movie id"].isin(alredy_reviewed["item id"]) == False]

In [134]:
recommendations.head()

,movie id,movie title,release date,video release date,IMDb URL,unknown,Action,Adventure,Animation,Children's,...,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,curr_user_ratings
1202,1203,Top Hat (1935),01-Jan-1935,NaN,http://us.imdb.com/M/title-exact?Top%20Hat%20(...,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,5.912512
841,842,Pollyanna (1960),01-Jan-1960,NaN,http://us.imdb.com/M/title-exact?Pollyanna%20(...,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,5.668555
542,543,"Misérables, Les (1995)",01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Mis%E9rables%...,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,5.564552
651,652,Rosencrantz and Guildenstern Are Dead (1990),01-Jan-1990,NaN,http://us.imdb.com/M/title-exact?Rosencrantz%2...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.488473
752,753,Burnt By the Sun (1994),01-Jan-1994,NaN,http://us.imdb.com/M/title-exact?Utomlyonnye%2...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5.416701