In [59]:
import numpy as np
import pandas as pd
import matrix_factorization_utilities as mfu

In [60]:
# Load user ratings
user_ratings_df=pd.read_csv("movie_ratings_data_set.csv")
# Load movie titles
movies_df=pd.read_csv("movies.csv")

In [61]:
# Convert the running list of user ratings into a matrix
ratings_pivot_df=user_ratings_df.pivot_table(index="user_id", columns="movie_id",aggfunc=np.max)

In [17]:
U,M = mfu.low_rank_matrix_factorization(ratings_pivot_df.as_matrix(),num_features=15,regularization_amount=0.1)

Warning: Maximum number of iterations has been exceeded.
         Current function value: 32.504379
         Iterations: 3000
         Function evaluations: 4469
         Gradient evaluations: 4469

In [62]:
predicted_ratings=np.matmul(U,M)

In [63]:
user_id_to_search=5

In [64]:
reviewed_movies_by_user_df=user_ratings_df[user_ratings_df['user_id']==user_id_to_search]

In [34]:
reviewed_movies_by_user_df

    user_id  movie_id  value
25        5        31      3
26        5        32      2
27        5         1      5
28        5        34      5
29        5        19      5
30        5        33      5
31        5        29      3
32        5         9      5
33        5        21      4

In [41]:
movies_df.head()

   movie_id                  title                 genre   ratings    rating
0         1          The Sheriff 1  crime drama, western  4.980612  4.980612
1         2   The Big City Judge 1           legal drama  4.240399  4.240399
2         3          The Sheriff 2  crime drama, western  5.461859  5.461859
3         4  Just a Regular Family               reality  4.372755  4.372755
4         5   The Big City Judge 2           legal drama  5.164560  5.164560

In [42]:
user_ratings=predicted_ratings[user_id_to_search-1]

In [36]:
movies_df['rating']=user_ratings

In [56]:
movies_df[movies_df.index.isin(recommended_movies_df.index)]

,movie_id,title,genre,ratings,rating
25,26,Mafia Underground,"crime drama, thriller",4.722431,4.722431
26,27,Surrounded by Zombies 2,"horror, zombie fiction",3.736880,3.736880
27,28,The Sheriff 4,"crime drama, western",5.075808,5.075808
28,29,Post-Apocalyptia 1,"sci-fi, thriller, mystery",3.017249,3.017249
29,30,Post-Apocalyptia 2,"sci-fi, thriller, mystery",3.610950,3.610950
30,31,My Complicated Family,comedy-drama,2.996266,2.996266
31,32,Behind the Scenes,comedy-drama,2.031804,2.031804
32,33,Sports Nerds,comedy,4.980743,4.980743
33,34,The Serious Detective,detective drama,4.987318,4.987318

In [57]:
recommended_movies_df=movies_df[movies_df.index.isin(reviewed_movies_by_user_df.index)==False]

In [58]:
recommended_movies_df.sort_values(by=["rating"],ascending=False)

,movie_id,title,genre,ratings,rating
2,3,The Sheriff 2,"crime drama, western",5.461859,5.461859
4,5,The Big City Judge 2,legal drama,5.164560,5.164560
8,9,Biker Gangs,"crime drama, action",4.982081,4.982081
0,1,The Sheriff 1,"crime drama, western",4.980612,4.980612
18,19,Fake News about Fake News,"satire, comedy",4.969738,4.969738
12,13,The Sheriff 3,"crime drama, western",4.965474,4.965474
9,10,Surrounded by Zombies 1,"horror, zombie fiction",4.920308,4.920308
13,14,The Spy Family,spy drama,4.678684,4.678684
7,8,Sci-Fi Murder Detectives,"supernatural, mystery",4.636233,4.636233
5,6,Attack on Earth 1,"sci-fi, action",4.553476,4.553476
24,25,Drugs & Guns,crime drama,4.504473,4.504473
23,24,The Big City Judge 3,legal drama,4.433185,4.433185
3,4,Just a Regular Family,reality,4.372755,4.372755
15,16,Master Criminal,"thriller, horror, crime drama",4.270488,4.270488
1,2,The Big City Judge 1,legal drama,4.240399,4.240399
10,11,Inspector Jackson,"detective drama, mystery",4.143795,4.143795
11,12,Horrorfest,horror,4.107614,4.107614
20,21,Political Gaffs,"comedy, political satire",3.995041,3.995041
21,22,Attack on Earth 2,"sci-fi, action",3.488813,3.488813
17,18,Bad Teachers,comedy,3.437100,3.437100
19,20,Buy My App,comedy,3.390584,3.390584
14,15,We Will Fight Those Aliens,"sci-fi, action",3.291100,3.291100
6,7,The Secret Box,"sci-fi, mystery, fantasy",3.154243,3.154243
22,23,Trapped in Space,"sci-fi, mystery",3.108934,3.108934
16,17,Singing Telegram,"musical, comedy",3.023757,3.023757